<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <!-- Filter 實體配置 -->
    <filter>
        <filter-name>Filter0</filter-name>
        <filter-class>com.study.web.filter.Filter0</filter-class>
    </filter>
    <filter>
        <filter-name>Filter1</filter-name>
        <filter-class>com.study.web.filter.Filter1</filter-class>
    </filter>
    <filter>
        <filter-name>Filter2</filter-name>
        <filter-class>com.study.web.filter.Filter2</filter-class>
    </filter>
    
    <!-- Filter 執行順序 -->
    <filter-mapping>
        <filter-name>Filter0</filter-name>
        <url-pattern>/auth/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Filter1</filter-name>
        <url-pattern>/auth/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Filter2</filter-name>
        <url-pattern>/auth/*</url-pattern>
    </filter-mapping>
    
    <!-- 傳統 Servlet 實體配置 -->
    <servlet>
        <servlet-name>lotto</servlet-name>
        <servlet-class>com.study.web.servlet.LottoServlet</servlet-class>
    </servlet>
    <!-- 傳統 Servlet 執行路徑 -->
    <servlet-mapping>
        <servlet-name>lotto</servlet-name>
        <url-pattern>/servlet/lotto</url-pattern>
    </servlet-mapping>
    <!-- Session 設定 -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
